{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h3>Clients list</h2>
    <table class="table text-nowrap">
        <thead>
        <tr>
            <th class="border-top-0">Id</th>
            <th class="border-top-0">Name</th>
            <th class="border-top-0">Website Url</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clientsList %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.websiteUrl }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Create client</h2>

    {{ form(form) }}
{% endblock %}
